<h1>Pokemon list</h1>

<ul>
  <li *ngFor="let pokemon of pokemons">
    <img src="{{ pokeapiService.getPokemonImageUrl(pokeapiService.extractId(pokemon)) }}" width="100">
    {{ pokeapiService.extractId(pokemon) }} -
    {{ pokemon.name }}
  </li>
</ul>

<button type="button" [disabled]="loading" (click)="nextLoad()">
  Load next
</button>
